@model sivel_proyecto_bad115.Models.TIPO_MOVIMIENTOS

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro que desea eliminar el tipo de movimiento?</h3>
<div>
    <h4>TIPO DE MOVIMIENTOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIPO_MOVIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_MOVIMIENTO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-warning" /> |
            @Html.ActionLink("Regresar a la lista de de tipo de movimientos", "Index")
        </div>
    }
</div>
