@model sivel_proyecto_bad115.Models.ESTADO_IMPORTACIONES

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>ESTADO DE IMPORTACIONES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ESTADO_IMPORTACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_IMPORTACION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_EIMPORTACION }) |
    @Html.ActionLink("Regresar a la lista de estados", "Index")
</p>
