@model sivel_proyecto_bad115.Models.ESTADO_IMPORTACIONES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ESTADO_IMPORTACIONES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ESTADO_IMPORTACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_IMPORTACION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_EIMPORTACION }) |
    @Html.ActionLink("Back to List", "Index")
</p>
