@model sivel_proyecto_bad115.Models.TALLERES

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas segura que desea eliminar el taller?</h3>
<div>
    <h4>TALLERES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-warning"/> |
            @Html.ActionLink("Regresar a la lista de talleres", "Index")
        </div>
    }
</div>
